{% extends 'base.html' %}
{% block title %}Толкун админ панель{% endblock %}


{% block content %}
<h2 class="mb-4">Добро пожаловать, {{ request.user.username }}!</h2>

<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title">Создание пользователя</h5>
                <p class="card-text">Добавьте нового пользователя с нужной ролью.</p>
                <a href="{% url 'user_create' %}" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title">Список пользователей</h5>
                <p class="card-text">Просмотр и редактирование всех зарегистрированных пользователей.</p>
                <a href="{% url 'user_list' %}" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title">Список родственников пользователей</h5>
                <p class="card-text">Просмотр, редактирование и добавление родственников.</p>
                <a href="{% url 'relatives_list' %}" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title">Заезды</h5>
                <p class="card-text">Просмотр, редактирование и создание заездов.</p>
                <a href="{% url 'arrival_list' %}" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title">Цены</h5>
                <p class="card-text">Просмотр, редактирование и создание цен для путевок.</p>
                <a href="{% url 'rate_list' %}" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title">Планировка</h5>
                <p class="card-text">Просмотр, редактирование и создание номеров пансионата.</p>
                <a href="{% url 'room_layout_list' %}" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title">Заявки</h5>
                <p class="card-text">Просмотр и обработка заявок.</p>
                <a href="{% url 'moderator_application_list' %}" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title">Размещение</h5>
                <p class="card-text">Размещение и гостей по номерам.</p>
                <a href="{% url 'placement_page' %}" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
